nav, main {
  width: 95%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: black;
  /* 
  不確定為何無法透過 .nav-page 修改 <a> 內的字體顏色，
  嘗試用過 -webkit-appearance: none 也未解決，
  在這邊設定 color 雖然成功改色，但 :active 時滑鼠點選位置不對仍看的出不協調
  */
  text-decoration: none;
}

div, li {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-page {
  width: 60px;
  margin: 5px;
  padding: 6px;
  border-radius: 5px;

  background: #d3d3d3;
  text-align: center;
  line-height: 100%;

  font-family: sans-serif;
  font-size: 12px;
  font-weight: 500;

  cursor: pointer;
}

.nav-page:active, a:active, .active {
  background-color: #525252;
  color: white;
}

.home {
  font-weight: 600;
}

h2 {
  padding: 0 10px;
  font-family: sans-serif;
}